<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Tous les potins en exclusivités !</h1>
    <p>Voilà tous les gossip petit voyeur</p>
    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>
  </body>
</html>
