<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p> bienvenue petit agneau, pour le moment pas de potins, écris le tien <a href="/gossips/new/">ici</a> puis accède à toutes les autres vilenies <a href="/all_gossips/">ici</a></p>
  </body>
</html>
